{% load static %}
<aside class="main-sidebar sidebar-dark-info elevation-4">
    {% if request.user.user_type == '1' %}
    <!-- Brand Logo -->
    <a href="{% url 'admin_home' %}" class="brand-link">
        <img src="{% static 'dist/img/cmsl.png' %} " alt="AdminLTE Logo" class="brand-image img-circle elevation-3">
        <span class="brand-text font-weight-light">HOD Panel</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                {% if request.user.profile_pic %}
                <img src="{{request.user.profile_pic.url}}" class="img-circle elevation-2" alt="User Image">
                {% else %}
                <h1>Logo</h1>
                {% endif %}
            </div>
            <div class="info">
                <a href="#" class="d-block">{{user}}</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                <li class="nav-item">
                    {% url 'admin_home' as admin_home %}
                    <a href="{{admin_home}}" class="nav-link {% if admin_home == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-home"></i>
                        <p>
                            Home

                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    {% url 'admin_view_profile' as admin_view_profile %}
                    <a href="{{admin_view_profile}}"
                        class="nav-link {% if admin_view_profile == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-address-card"></i>
                        <p>
                            Update Profile

                        </p>
                    </a>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-address-book"></i>
                        <p>
                            Attendance
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'admin_view_attendance' as admin_view_attendance %}
                            <a href="{{ admin_view_attendance }}"
                                class="nav-link {% if admin_view_attendance == request.path %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Periodic Attendance</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'admin_view_overall_attendance' as admin_view_overall_attendance %}
                            <a href="{{ admin_view_overall_attendance }}"
                                class="nav-link {% if admin_view_overall_attendance == request.path %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Overall Attendance</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p>
                            Timetable
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'hod_class_timetable' as hod_class_timetable %}
                            <a href="{{ hod_class_timetable }}"
                                class="nav-link {% if hod_class_timetable == request.path %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Class Timetable</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'hod_staff_timetable' as hod_staff_timetable %}
                            <a href="{{ hod_staff_timetable }}"
                                class="nav-link {% if hod_staff_timetable == request.path %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Staff Timetable</p>
                            </a>
                        </li>
        
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-graduation-cap" aria-hidden="true"></i>
                        <p>
                            Result
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'upload_result' as upload_result %}
                            <a href="{{ upload_result }}"
                                class="nav-link {% if upload_result == request.path %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Upload Result</p>
                            </a>
                        </li>
        
                        <li class="nav-item">
                            {% url 'view_result' as view_result %}
                            <a href="{{ view_result }}"
                                class="nav-link {% if view_result == request.path %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>View Result</p>
                            </a>
                        </li>
        
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-eye" aria-hidden="true"></i>

                        <p>
                            Profile
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'get_student_profile' as get_student_profile %}
                            <a href="{{ get_student_profile }}"
                                class="nav-link {% if get_student_profile == request.path %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Student Profile</p>
                            </a>
                        </li>
        
                        <li class="nav-item">
                            {% url 'get_staff_profile' as get_staff_profile %}
                            <a href="{{ get_staff_profile }}"
                                class="nav-link {% if get_staff_profile == request.path %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Staff Profile</p>
                            </a>
                        </li>
        
                    </ul>
                </li>

                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p>
                            Notify
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'admin_notify_staff' as admin_notify_staff %}
                            <a href="{{admin_notify_staff}}"
                                class="nav-link {% if admin_notify_staff == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Notify Staff
        
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            {% url 'admin_notify_student' as admin_notify_student %}
                            <a href="{{admin_notify_student}}"
                                class="nav-link {% if admin_notify_student == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Notify Student
        
                                </p>
                            </a>
                        </li>
        
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p>
                            Feedback
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'student_feedback_message' as student_feedback_message %}
                            <a href="{{ student_feedback_message }}"
                                class="nav-link {% if student_feedback_message == request.path %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Student Feedback</p>
                            </a>
                        </li>
        
                        <li class="nav-item">
                            {% url 'staff_feedback_message' as staff_feedback_message %}
                            <a href="{{ staff_feedback_message }}"
                                class="nav-link {% if staff_feedback_message == request.path %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Staff Feedback</p>
                            </a>
                        </li>
        
                    </ul>
                </li>
                <li class="nav-item has-treeview">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fa fa-user-times" aria-hidden="true"></i>
                        <p>
                            Leave Requests
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            {% url 'view_staff_leave' as view_staff_leave %}
                            <a href="{{ view_staff_leave }}"
                                class="nav-link {% if view_staff_leave == request.path %}active{% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Staff Leave</p>
                            </a>
                        </li>
        
                        <li class="nav-item">
                            {% url 'view_student_leave' as view_student_leave %}
        
                            <a href="{% url 'view_student_leave' %}"
                                class="nav-link  {% if view_student_leave == request.path %} active {% endif %}">
                                <i class="far fa-circle nav-icon"></i>
                                <p>
                                    Student Leave
                                </p>
                            </a>
                        </li>
        
                    </ul>
                </li>

                <li class="nav-item">
                    {% url 'exam_filter_page' as exam_filter_page %}
                    <a href="{{ exam_filter_page }}"
                        class="nav-link {% if exam_filter_page == request.path %}active{% endif %}">
                        <i class="nav-icon fa fa-book" aria-hidden="true"></i>
                        <p>Download Question Paper</p>
                    </a>
                </li>             

                <li class="nav-item">
                    {% url 'admin_view_certificate' as admin_view_certificate %}

                    <a href="{% url 'admin_view_certificate' %}"
                        class="nav-link  {% if admin_view_certificate == request.path %} active {% endif %}">
                        <i class="nav-icon fas fa-check-double"></i>
                        <p>
                            Student Certificates

                        </p>
                    </a>
                </li>

                {% elif request.user.user_type == '2' %}
                <!-- Brand Logo -->
                <a href="#" class="brand-link">
                    <img src="{% static 'dist/img/AdminLTELogo.png' %} " alt="AdminLTE Logo"
                        class="brand-image img-circle elevation-3" style="opacity: .8">
                    <span class="brand-text font-weight-light">Staff Panel</span>
                </a>

                <!-- Sidebar -->
                <div class="sidebar">
                    <!-- Sidebar user panel (optional) -->
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <img src="{{ request.user.profile_pic.url}}" class="img-circle elevation-2" alt="User Image">
                        </div>
                        <div class="info">
                            <a href="#" class="d-block">{{ user}}</a>
                        </div>
                    </div>

                    <!-- Sidebar Menu -->
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                            data-accordion="false">

                            <li class="nav-item">
                                {% url 'staff_home' as staff_home %}
                                <a href="{{staff_home}}"
                                    class="nav-link {% if staff_home == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-home"></i>
                                    <p>
                                        Home

                                    </p>
                                </a>
                            </li>
                            
                            <li class="nav-item">
                                {% url 'staff_profile' as staff_profile %}
                                <a href="{{staff_profile}}"
                                    class="nav-link {% if staff_profile == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-address-card"></i>
                                    <p>
                                        View Profile
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                {% url 'staff_view_profile' as staff_view_profile %}
                                <a href="{{staff_view_profile}}"
                                    class="nav-link {% if staff_view_profile == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-address-card"></i>
                                    <p>
                                        Update Profile

                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                {% url 'staff_view_timetable' as staff_view_timetable %}
                                <a href="{{staff_view_timetable}}"
                                    class="nav-link {% if staff_view_timetable == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-address-card"></i>
                                    <p>
                                        View Timetable
                                    </p>
                                </a>
                            </li>

                            <!-- <li class="nav-item">
                                {% url 'staff_add_result' as staff_add_result %}
                                <a href="{{staff_add_result}}"
                                    class="nav-link {% if staff_add_result == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-poll"></i>
                                    <p>
                                        Add Result
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                {% url 'edit_student_result' as edit_student_result %}
                                <a href="{{edit_student_result}}"
                                    class="nav-link {% if edit_student_result == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p>
                                        Edit Result
                                    </p>
                                </a>
                            </li> -->
                            <li class="nav-item">
                                {% url 'staff_take_attendance' as staff_take_attendance %}
                                <a href="{{staff_take_attendance}}"
                                    class="nav-link {% if staff_take_attendance == request.path %} active {% endif %}">
                                    <i class="fa fa-address-book-o" aria-hidden="true"></i>
                                    <p>
                                        Take Attendance

                                    </p>
                                </a>
                            </li>
                            <!-- <li class="nav-item">
                                {% url 'staff_update_attendance' as staff_update_attendance %}
                                <a href="{{staff_update_attendance}}"
                                    class="nav-link {% if staff_update_attendance == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p>
                                        View/Update Attendance

                                    </p>
                                </a>
                            </li> -->
                            <!-- <li class="nav-item">
                                {% url 'add_assignment' as add_assignment %}
                                <a href="{{add_assignment}}"
                                    class="nav-link {% if add_assignment == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p>
                                        Add Assignment
                                    </p>
                                </a>
                            </li> -->

                            <li class="nav-item">
                                {% url 'staff_view_note' as staff_view_note %}
                                <a href="{{ staff_view_note }}"
                                    class="nav-link {% if staff_view_note == request.path %} active {% endif %}">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    <p>
                                        View Notes
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                {% url 'view_assignment' as view_assignment %}
                                <a href="{{view_assignment}}"
                                    class="nav-link {% if view_assignment == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p>
                                        View Assignment
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                {% url 'show_my_class' as show_my_class %}
                                <a href="{{show_my_class}}"
                                    class="nav-link {% if show_my_class == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p>
                                        View My Class
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                {% url 'show_mentees' as show_mentees %}
                                <a href="{{show_mentees}}"
                                    class="nav-link {% if show_mentees == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p>
                                        View Mentees
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                {% url 'view_mentee_leave' as view_mentee_leave %}
                                <a href="{{view_mentee_leave}}"
                                    class="nav-link {% if view_mentee_leave == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p>
                                        View Mentee Leave
                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                {% url 'show_mentee_disciplinary_action' as show_mentee_disciplinary_action %}
                                <a href="{{show_mentee_disciplinary_action}}"
                                    class="nav-link {% if show_mentee_disciplinary_action == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-th"></i>
                                    <p>
                                        Mentee Disciplinary Action
                                    </p>
                                </a>
                            </li>
                            
                            <li class="nav-item">
                                {% url 'staff_view_notice' as staff_view_notice %}
                                <a href="{{staff_view_notice}}"
                                    class="nav-link {% if staff_view_notice == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-calendar-alt"></i>
                                    <p>Notice Board</p>
                                </a>
                            </li>

                            <li class="nav-item">
                                {% url 'staff_view_notification' as staff_view_notification %}
                                <a href="{{staff_view_notification}}"
                                    class="nav-link {% if staff_view_notification == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-bell"></i>
                                    <p>
                                        View Notifications

                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                {% url 'staff_apply_leave' as staff_apply_leave %}
                                <a href="{{staff_apply_leave}}"
                                    class="nav-link {% if staff_apply_leave == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-check"></i>
                                    <p>
                                        Apply For Leave

                                    </p>
                                </a>
                            </li>

                            <li class="nav-item">
                                {% url 'staff_feedback' as staff_feedback %}
                                <a href="{{staff_feedback}}"
                                    class="nav-link {% if staff_feedback == request.path %} active {% endif %}">
                                    <i class="nav-icon fas fa-comment-alt"></i>
                                    <p>
                                        Feedback

                                    </p>
                                </a>
                            </li>

                            {% else %}
                            <!-- Brand Logo -->
                            <a href="" class="brand-link">

                                <img src="{% static 'dist/img/AdminLTELogo.png' %} " alt="AdminLTE Logo"
                                    class="brand-image img-circle elevation-3" style="opacity: .8">
                                <span class="brand-text font-weight-light">Student Panel</span>
                            </a>

                            <!-- Sidebar -->
                            <div class="sidebar">
                                <!-- Sidebar user panel (optional) -->
                                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                                    <div class="image">
                                        <img src="{{ request.user.profile_pic.url}}" class="img-circle elevation-2"
                                            alt="User Image">
                                    </div>
                                    <div class="info">
                                        <a href="#" class="d-block">{{user}}</a>
                                    </div>
                                </div>

                                <!-- Sidebar Menu -->
                                <nav class="mt-2">
                                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                                        data-accordion="false">

                                        <li class="nav-item">
                                            {% url 'student_home' as student_home %}
                                            <a href="{{student_home}}"
                                                class="nav-link {% if student_home == request.path %} active {% endif %}">
                                                <i class="nav-icon fas fa-home"></i>
                                                <p>
                                                    Home

                                                </p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            {% url 'student_profile' as student_profile %}
                                            <a href="{{student_profile}}"
                                                class="nav-link {% if student_profile == request.path %} active {% endif %}">
                                                <i class="nav-icon fas fa-address-card"></i>
                                                <p>
                                                    View Profile
                                                </p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            {% url 'student_view_profile' as student_view_profile %}
                                            <a href="{{student_view_profile}}"
                                                class="nav-link {% if student_view_profile == request.path %} active {% endif %}">
                                                <i class="nav-icon fas fa-address-card"></i>
                                                <p>
                                                    Update Profile

                                                </p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            {% url 'student_view_assignment' as student_view_assignment %}
                                            <a href="{{student_view_assignment}}"
                                                class="nav-link {% if student_view_assignment == request.path %} active {% endif %}">
                                                <i class="nav-icon fas fa-calendar-alt"></i>
                                                <p>
                                                    View Assignment

                                                </p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            {% url 'student_view_note' as student_view_note %}
                                            <a href="{{student_view_note}}"
                                                class="nav-link {% if student_view_note == request.path %} active {% endif %}">
                                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                <p>
                                                    View Notes
                                                </p>
                                            </a>
                                        </li>

                                        <!-- <li class="nav-item">
                                            {% url 'student_view_attendance' as student_view_attendance %}
                                            <a href="{{student_view_attendance}}"
                                                class="nav-link {% if student_view_attendance == request.path %} active {% endif %}">
                                                <i class="nav-icon fas fa-calendar-alt"></i>
                                                <p>View Attendance</p>
                                            </a>
                                        </li> -->

                                        <!-- <li class="nav-item">
                                            {% url 'view_notice' as view_notice %}
                                            <a href="{{view_notice}}"
                                                class="nav-link {% if view_notice == request.path %} active {% endif %}">
                                                <i class="nav-icon fas fa-calendar-alt"></i>
                                                <p>View Attendance</p>
                                            </a>
                                        </li> -->

                                        <li class="nav-item">
                                            {% url 'student_view_timetable' as student_view_timetable %}
                                            <a href="{{student_view_timetable}}"
                                                class="nav-link {% if student_view_timetable == request.path %} active {% endif %}">
                                                <i class="nav-icon fas fa-calendar-alt"></i>
                                                <p>View Timetable</p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            {% url 'student_view_notice' as student_view_notice %}
                                            <a href="{{student_view_notice}}"
                                                class="nav-link {% if student_view_notice == request.path %} active {% endif %}">
                                                <i class="nav-icon fas fa-calendar-alt"></i>
                                                <p>Notice Board</p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            {% url 'student_view_notification' as student_view_notification %}
                                            <a href="{{student_view_notification}}"
                                                class="nav-link {% if student_view_notification == request.path %} active {% endif %}">
                                                <i class="nav-icon fas fa-bell"></i>
                                                <p>
                                                    View Notifications

                                                </p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            {% url 'student_view_certificate' as student_view_certificate %}
                                            <a href="{{student_view_certificate}}"
                                                class="nav-link {% if student_view_certificate == request.path %} active {% endif %}">
                                                <i class="nav-icon fas fa-bell"></i>
                                                <p>
                                                   View Certificates
                                                </p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            {% url 'student_apply_leave' as student_apply_leave %}
                                            <a href="{{student_apply_leave}}"
                                                class="nav-link {% if student_apply_leave == request.path %} active {% endif %}">
                                                <i class="nav-icon fas fa-check"></i>
                                                <p>
                                                    Apply For Leave

                                                </p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            {% url 'student_feedback' as student_feedback %}
                                            <a href="{{student_feedback}}"
                                                class="nav-link {% if student_feedback == request.path %} active {% endif %}">
                                                <i class="nav-icon fas fa-comment-alt"></i>
                                                <p>
                                                    Feedback

                                                </p>
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            {% url 'student_disciplinary_action' as student_disciplinary_action %}
                                            <a href="{{student_disciplinary_action}}"
                                                class="nav-link {% if student_disciplinary_action == request.path %} active {% endif %}">
                                                <i class="nav-icon fas fa-comment-alt"></i>
                                                <p>
                                                    Disiplinary Action
                                                </p>
                                            </a>
                                        </li>

                                        {% endif %}



                                        <li class="nav-item">
                                            <a href="{% url 'user_logout' %}"
                                                onclick="return confirm('Your session would be terminated.\n\nProceed?')"
                                                class="nav-link">
                                                <i class="nav-icon fas fa-power-off"></i>
                                                <p>
                                                    Logout
                                                </p>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                                <!-- /.sidebar-menu -->
                            </div>
                            <!-- /.sidebar -->
</aside>