{% extends "registration/base.html" %}

{% block header %}
FORGOT PASSWORD
{% endblock header %}

{% block content %}

<form action="" method="post" class="container" style="border: none;">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
        {{ field.errors }}
        <input type="email" name="{{ field.html_name }}" placeholder="Email" id="{{ field.id_for_label }}" required class="form-control" style="width: 100%;">
    </div>
    {% endfor %}
    <button type="submit" class="button">Submit</button>
</form>

<p class="mb-1">
    <a href="{% url 'login_page' %}">Login Instead</a>
</p>
{% endblock content %}
