{% extends "registration/base.html" %}

{% block header %}
Password Reset Email Sent
{% endblock header %}

{% block content %}
<div class="container"  style="border: none;">
    <div class="card-body login-card-body">
        <p class="message">
            A mail has been sent to your email <br> (if email exists).
            Kindly check your <br>Inbox or SPAM folder.
        </p>
        <p class="mb-1">
            <a href="/" class="goback">Home</a>
        </p>
    </div>
</div>
{% endblock content %}
