{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}Get user Profile {% endblock page_title %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-right: auto;padding: 10px 20px;"><b>Profile</b></h3>
                    </div>
                    <div class="form">
                        {% if type == 'staff' %}
                        <form role="form" action="/get_staff_profile" method="POST" enctype="multipart/form-data" class="staff_timetable_form">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="staff">Faculty Id</label>
                                    <input type="text" class="form-control" name="faculty_id">
                                </div>
                            </div>
                        
                            <div class="card-footer">
                                <button type="submit" class="btn btn-success btn-block">
                                    Get Staff Profile
                                </button>
                            </div>
                        </form>
                        {% endif %}
                        {% if type == 'student' %}
                        <form role="form" action="/get_student_profile" method="POST" enctype="multipart/form-data" class="class_timetable_form">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="staff">Student Register Number or Roll Number:</label>
                                    <input type="text" class="form-control" name="student_id">
                                </div>
                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-success btn-block">
                                    Get Student Profile
                                </button>
                            </div>
                        </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}