{% extends 'main_app/base.html' %}
{% load static %}
{% load custom_filters %}
{% block page_title %}Attendance of {{ class_name }}{% endblock page_title %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-right: auto;padding: 10px 20px;">Attendance of &nbsp;<b>{{ class_name }}</b></h3>
                        <a id="download-overall-link" style="padding: 10px 20px; border-radius: 10px; background-color: #10af3d;position: absolute;right: 20px;">Download Attendance</a>
                    </div>
                    <div class="timetable" style="overflow-x: auto;">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Roll Number</th>
                                    {% for date in dates %}
                                        <th>{{ date }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for reg in roll_numbers %}
                                <tr>
                                    <td>{{ reg }}</td>
                                    {% for date in dates %}
                                        {% with atten=overall_attendance|get_item:date|get_item:reg %}
                                            <td>{{ atten }}</td>
                                        {% endwith %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>

        const overallAttendance = {{ overall_attendance|safe }};
        const downloadLink = document.getElementById('download-overall-link');
        const url = new URL("{% url 'download_overall_day_attendance' %}", window.location.origin);
        
        url.searchParams.set('overall_attendance', JSON.stringify(overallAttendance));
        downloadLink.href = url.toString();
        
</script>
 {% endblock content %}
