{% extends 'main_app/base.html' %}
{% load static %}
{% block page_title %}Get Timetable{% endblock page_title %}
{% block content %}

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title" style="margin-right: auto;padding: 10px 20px;"><b>Timetable</b></h3>
                        <div onclick="changeform()" style="padding: 10px 20px; border-radius: 10px; background-color: #10af3d;position: absolute;right: 20px;cursor: pointer;"><b>Faculty / Class</b></div>
                    </div>
                    <div class="form">
                        <form role="form" action="/hod_class_timetable" method="POST" enctype="multipart/form-data" class="class_timetable_form active">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="staff">Class Name:</label>
                                    <select id="staff" class="form-control" name="class_id">
                                        {% for class in class_names %}
                                            <option value='{{class.id}}'>{{class}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="card-footer">
                                <button type="submit" class="btn btn-success btn-block">
                                    Get Class Timetable
                                </button>
                            </div>
                        </form>
                        <form role="form" action="/hod_staff_timetable" method="POST" enctype="multipart/form-data" class="staff_timetable_form">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="staff">Faculty Id</label>
                                    <input type="text" class="form-control" name="faculty_id">
                                </div>
                            </div>
                        
                            <div class="card-footer">
                                <button type="submit" class="btn btn-success btn-block">
                                    Get Student Timetable
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}


{% block custom_js %}
    <script>
        function changeform(){
            const class_form = document.querySelector('.class_timetable_form');
            const staff_form = document.querySelector('.staff_timetable_form');
            class_form.classList.toggle('active')
            staff_form.classList.toggle('active')
        }
        
    </script>
    <style>
        form{
            display: none;
        }
        form.active{
            display: block;
        }
    </style>
{% endblock custom_js %}