<html>

<head>
    <style>
        fieldset {
            display: inline-block;
            width: 90%;
            padding: 2%;
        }

        a {
            display: block;
            text-decoration: none;
            color: blue;
            font-size: 20px;
            margin-right: 95%;

        }

        * {
            text-align: center;
            margin: 0%;
        }

        .co {
            font-size: small;
            text-align: left;
        }

        .left {
            text-align: left;
        }

        td {
            padding: 10px;
            text-align: left;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px;
        }

        @media print {
            table {
                width: 100%;
                page-break-before: always;
                /* Ensure each table starts on a new page */
                margin-bottom: 20px;
                /* Additional margin at the bottom for better spacing */
            }
        }


        .right {
            text-align: right;
        }


        .displayinline {
            display: inline-block;
        }

        td {
            padding: 10px;
            text-align: center;
        }

        .pad {
            width: 5px;
        }

        .pad2 {
            padding: 0%;
            width: auto;
        }


        .up {
            margin: 2%;
        }

        .left2 {
            text-align: left;
        }
    </style>

</head>

<body>

    <!-- subject = models.ForeignKey(Subject, on_delete=models.CASCADE)
    added_by = models.ForeignKey(
        CustomUser, on_delete=models.SET_NULL, null=True, blank=False)
    semester = models.CharField(max_length=3, choices=SEM_CHOICES)
    exam_date = models.DateField()
    exam_type = models.CharField(max_length=1, choices=EXAM_TYPE)
    department = models.ForeignKey(
        Department, on_delete=models.SET_NULL, null=True, blank=False)
    academic_year = models.ForeignKey(
        AcademicYear, on_delete=models.SET_NULL, null=True, blank=False)
    updated_at = models.DateTimeField(auto_now=True)
    created_at = models.DateTimeField(auto_now_add=True) -->


    <fieldset>



        <h2 style='display:inline; margin-left:0%; '>PANIMALAR ENGINEERING COLLEGE</h2>
        <h5>An Autonomous Insititution,Affilated to Anna University, Chennai</h5>
        <p>(JAISAKTHI EDUCATIONAL TRUST)</p>
        <p>Approved by All India Council of Technical Education</p>
        <p>Bangalore Trunk Road, Varadharajapuram, Poonamallee, chennai - 600123</p>
        <hr>
        <h3 class='displayinline'>{{exam.department}}</h3>
        <hr>
        <h3 class='displayinline'>
            {% if exam.exam_type == '1' %}
            Internal Assesment 1
            {% elif exam.exam_type == '2' %}
            Internal Assesment 2
            {% elif exam.exam_type == '3' %}
            Semester Examination
            {% endif %}
        </h3>
        <hr>
        <center>
            <table>
                <tr>
                    <td colspan='2'>
                        <h3 class='left'>Subject Name: {{q_paper.subject}} </h3>
                    </td>


                </tr>
                <tr>
                    <td>
                        <h4 class='left'>Academic Year : {{exam.academic_year}} </h4>
                    </td>

                    <td>
                        <h4 class='right'>Year/Semester: 
                            {% if exam.semester == '1' or exam.semester == '2' %}
                            1st
                            {% elif exam.semester == '3' or exam.semester == '4' %}
                            2nd
                            {% elif exam.semester == '5' or exam.semester == '6' %}
                            3rd
                            {% elif exam.semester == '7' or exam.semester == '8' %}
                            4ths
                            {% endif %}
                            /{{exam.semester}}</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class='left'>Subject Code: {{q_paper.subject.subject_code}}</h4>
                    </td>

                    <td>
                        <h4 class='right'>Date:{{exam.exam_date}}</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class='left'>Maxium Marks:100</h4>
                    </td>

                    <td>
                        <h4 class='right'>Duration:3.00Hours</h4>
                    </td>
                </tr>
            </table>
            <hr>
            <p class='co'><b>Course Outcome:</b><br>
                <b>CO1:</b> Identify and select suitable Process Model for the given problem and have a thorough
                understanding of variousSoftware Life Cycle models.
                <br><b>CO2:</b> Analyze the requirements of the given software project and produce requirement
                specifications
                <br><b>CO3:</b> Apply the knowledge of object-oriented modelling concepts and design methods with a
                clear emphasison Unified Modelling Language
                <br>for a moderately realistic object oriented system
                <br><b>CO4:</b> Apply various software architectures, including frameworks and design patterns, when
                developing
                <br>software projects
                strategies of the software project
                <br><b>CO5:</b> Evaluate the software project using various testing Technique.
                <br><b>CO6:</b> recognise the deployment started g and configuration management strategies of software
                project
                <br><b>Blooms Level: 1</b> - Remembering,<b> 2</b> - Understanding,<b> 3</b> - Applying,<b> 4</b> -
                Analysing,<b> 5</b> - Evaluating<b> 6</b> - Creating.
            </p>
            <hr>
            <h3 class='displayinline'>Answer All the Question</h3>
            <hr>
            <h3 class='displayinline'>Part-A (10*2=20)</h3>
            <table>

                <tr>
                    <th><b>Q.NO</b></th>
                    <th><b>Question</b></th>
                    <th><small>Bloom Level</small></th>
                <th><small>course<br>Outcome</small></th>
                <th><small>Max Mark</small></th>
                </tr>
                <tr>
                    <td>1</td>
                    <td class='left'>{{q_paper.question_text1}}</td>
                    <td>[{{q_paper.bloom_level1}}]</td>
                    <td>[CO{{q_paper.course_outcome1}}]</td>
                    <td>[2]</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td class='left'>{{q_paper.question_text2}}</td>
                    <td>[{{q_paper.bloom_level2}}]</td>
                    <td>[CO{{q_paper.course_outcome2}}]</td>
                    <td>[2]</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td class='left'>{{q_paper.question_text3}}</td>
                    <td>[{{q_paper.bloom_level3}}]</td>
                    <td>[CO{{q_paper.course_outcome3}}]</td>
                    <td>[2]</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td class='left'>{{q_paper.question_text4}}</td>
                    <td>[{{q_paper.bloom_level4}}]</td>
                    <td>[CO{{q_paper.course_outcome4}}]</td>
                    <td>[2]</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td class='left'>{{q_paper.question_text5}}</td>
                    <td>[{{q_paper.bloom_level5}}]</td>
                    <td>[CO{{q_paper.course_outcome5}}]</td>
                    <td>[2]</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td class='left'>{{q_paper.question_text6}}</td>
                    <td>[{{q_paper.bloom_level6}}]</td>
                    <td>[CO{{q_paper.course_outcome6}}]</td>
                    <td>[2]</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td class='left'>{{q_paper.question_text7}}</td>
                    <td>[{{q_paper.bloom_level7}}]</td>
                    <td>[CO{{q_paper.course_outcome7}}]</td>
                    <td>[2]</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td class='left'>{{q_paper.question_text8}}</td>
                    <td>[{{q_paper.bloom_level8}}]</td>
                    <td>[CO{{q_paper.course_outcome8}}]</td>
                    <td>[2]</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td class='left'>{{q_paper.question_text9}}</td>
                    <td>[{{q_paper.bloom_level9}}]</td>
                    <td>[CO{{q_paper.course_outcome9}}]</td>
                    <td>[2]</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td class='left'>{{q_paper.question_text10}}</td>
                    <td>[{{q_paper.bloom_level10}}]</td>
                    <td>[CO{{q_paper.course_outcome10}}]</td>
                    <td>[2]</td>
                </tr>

            </table>
    </fieldset> <br><br><br>
    <fieldset>
        <h3>Part-B (5*13=65)</h3>
        <table>
            <tr>
                <th><b>Q.NO</b></th>
                <th><b>Question</b></th>
                <th><small>Bloom Level</small></th>
                <th><small>course<br>Outcome</small></th>
                <th><small>Max Mark</small></th>
            </tr>

            <tr>
                <td>11 a)</td>
                <td class='left'>{{q_paper.question_text11}}</td>
                <td>[{{q_paper.bloom_level11}}]</td>
                <td>[CO{{q_paper.course_outcome11}}]</td>
                <td>[13]</td>
            </tr>
            <tr>
                <td colspan='6' class='pad2'>OR</td>
            </tr>
            <tr>
                <td>11 b)</td>
                <td class='left'>{{q_paper.question_text12}}</td>
                <td>[{{q_paper.bloom_level12}}]</td>
                <td>[CO{{q_paper.course_outcome12}}]</td>
                <td>[13]</td>
            </tr>
            <tr>
                <td colspan='7'></td>
            </tr>
            <tr class='up'>
                <td>12 a)</td>
                <td class='left'>{{q_paper.question_text13}}</td>
                <td>[{{q_paper.bloom_level13}}]</td>
                <td>[CO{{q_paper.course_outcome13}}]</td>
                <td>[13]</td>
            </tr>
            <tr>
                <td colspan='6' class='pad2'>OR</td>
            </tr>
            <tr>
                <td>12 b)</td>
                <td class='left'>{{q_paper.question_text14}}</td>
                <td>[{{q_paper.bloom_level14}}]</td>
                <td>[CO{{q_paper.course_outcome14}}]</td>
                <td>[13]</td>
            </tr>
            </tr>
            <tr>
                <td colspan='7'></td>
            </tr>
            <tr class='up'>
                <td>13 a)</td>
                <td class='left'>{{q_paper.question_text15}}</td>
                <td>[{{q_paper.bloom_level15}}]</td>
                <td>[CO{{q_paper.course_outcome15}}]</td>
                <td>[13]</td>
            </tr>
            <tr>
                <td colspan='6' class='pad2'>OR</td>
            </tr>
            <tr>
                <td>13 b)</td>
                <td class='left'>{{q_paper.question_text16}}</td>
                <td>[{{q_paper.bloom_level16}}]</td>
                <td>[CO{{q_paper.course_outcome16}}]</td>
                <td>[13]</td>
            </tr>
            </tr>
            <tr>
                <td colspan='7'></td>
            </tr>
            <tr>
                <td>14 a)</td>
                <td class='left'>{{q_paper.question_text17}}</td>
                <td>[{{q_paper.bloom_level17}}]</td>
                <td>[CO{{q_paper.course_outcome17}}]</td>
                <td>[13]</td>
            </tr>
            <tr>
                <td colspan='6' class='pad2'>OR</td>
            </tr>
            <tr>
                <td>14 b)b</td>
                <td class='left'>{{q_paper.question_text18}}</td>
                <td>[{{q_paper.bloom_level18}}]</td>
                <td>[CO{{q_paper.course_outcome18}}]</td>
                <td>[13]</td>
            </tr>
            </tr>
            <tr>
                <td colspan='7'></td>
            </tr>
            <tr>
                <td>15 a)</td>
                <td class='left'>{{q_paper.question_text19}}</td>
                <td>[{{q_paper.bloom_level19}}]</td>
                <td>[CO{{q_paper.course_outcome19}}]</td>
                <td>[13]</td>
            </tr>
            <tr>
                <td colspan='6' class='pad2'>OR</td>
            </tr>
            <tr>
                <td>15 b)</td>
                <td class='left'>{{q_paper.question_text20}}</td>
                <td>[{{q_paper.bloom_level20}}]</td>
                <td>[CO{{q_paper.course_outcome20}}]</td>
                <td>[13]</td>
            </tr>



        </table>
        <br><br>
        <h3>Part-C (1*15=15)</h3>
        <table>
            <tr>
                <th><b>Q.NO</b></th>
                <th><b>Question</b></th>
                <th><small>Bloom Level</small></th>
                <th><small>course<br>Outcome</small></th>
                <th><small>Max Mark</small></th>
            </tr>

            <tr>
                <td>16 a)</td>
                <td class='left'>{{q_paper.question_text21}}</td>
                <td>[{{q_paper.bloom_level21}}]</td>
                <td>[CO{{q_paper.course_outcome21}}]</td>
                <td>[15]</td>
            </tr>
            <tr>
                <td colspan='6' class='pad2'>OR</td>
            </tr>
            <tr>
                <td>16 b)</td>
                <td class='left'>{{q_paper.question_text22}}</td>
                <td>[{{q_paper.bloom_level22}}]</td>
                <td>[CO{{q_paper.course_outcome22}}]</td>
                <td>[15]</td>
            </tr>


        </table>
    </fieldset>