<html>

<head>
    <style>
        fieldset {
            display: inline-block;
            width: 65%;
            padding: 3%;
        }

        a {
            display: block;
            text-decoration: none;
            color: blue;
            font-size: 20px;
            margin-right: 95%;

        }

        * {
            text-align: center;
            margin: 0%;
        }

        .co {
            font-size: small;
            text-align: left;
        }

        .left {
            text-align: left;
        }

        td {
            padding: 10px;
            text-align: left;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px;
        }

        @media print {
            table {
                width: 100%;
                page-break-before: always;
                /* Ensure each table starts on a new page */
                margin-bottom: 20px;
                /* Additional margin at the bottom for better spacing */
            }
        }


        .right {
            text-align: right;
        }


        .displayinline {
            display: inline-block;
        }

        td {
            padding: 10px;
            text-align: center;
        }

        .pad {
            width: 5px;
        }

        .pad2 {
            padding: 0%;
            width: auto;
        }


        .up {
            margin: 2%;
        }

        .left2 {
            text-align: left;
        }
    </style>

</head>

<body>


    <fieldset>



        <h2 style='display:inline; margin-left:0%; '>PANIMALAR ENGINEERING COLLEGE</h2>
        <h5>An Autonomous Insititution,Affilated to Anna University, Chennai</h5>
        <p>(JAISAKTHI EDUCATIONAL TRUST)</p>
        <p>Approved by All India Council of Technical Education</p>
        <p>Bangalore Trunk Road, Varadharajapuram, Poonamallee, chennai - 600123</p>
        <hr>
        <h3 class='displayinline'>Information Technology</h3>
        <hr>
        <h3 class='displayinline'>INTERNAL ASSESMENT-I</h3>
        <hr>";
        <center>
            <table>
                <tr>
                    <td colspan='2'>
                        <h3 class='left'>Subject Name: {{exam.subject}} </h3>
                    </td>


                </tr>
                <tr>
                    <td>
                        <h4 class='left'>Academic Year : 2023-2024 </h4>
                    </td>

                    <td>
                        <h4 class='right'>Year/Semester:  2ND/4TH</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class='left'>Subject Code: 21IT1401</h4>
                    </td>

                    <td>
                        <h4 class='right'>Date:17/02/2024</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4 class='left'>Maxium Marks:100</h4>
                    </td>

                    <td>
                        <h4 class='right'>Duration:3.00Hours</h4>
                    </td>
                </tr>
            </table>
            <hr>
            <p class='co'><b>Course Outcome:</b><br>
                <b>CO1:</b> Identify and select suitable Process Model for the given problem and have a thorough
                understanding of variousSoftware Life Cycle models.
                <br><b>CO2:</b> Analyze the requirements of the given software project and produce requirement
                specifications
                <br><b>CO3:</b> Apply the knowledge of object-oriented modelling concepts and design methods with a
                clear emphasison Unified Modelling Language
                <br>for a moderately realistic object oriented system
                <br><b>CO4:</b> Apply various software architectures, including frameworks and design patterns, when
                developing
                <br>software projects
                strategies of the software project
                <br><b>CO5:</b> Evaluate the software project using various testing Technique.
                <br><b>CO6:</b> recognise the deployment started g and configuration management strategies of software
                project
                <br><b>Blooms Level: 1</b> - Remembering,<b> 2</b> - Understanding,<b> 3</b> - Applying,<b> 4</b> -
                Analysing,<b> 5</b> - Evaluating<b> 6</b> - Creating.
            </p>
            <hr>
            <h3 class='displayinline'>Answer All the Question</h3>
            <hr>
            <h3 class='displayinline'>Part-A (10*2=20)</h3>
            <table border='1'>

                <tr>
                    <th><b>Q.NO</b></th>
                    <th><b>Question</b></th>
                    <th><b>Bloom Level</b></th>
                    <th><b>course<br>Outcome</b></th>
                    <th><b>Max Mark</b></th>
                </tr>
                <tr>
                    <td>1</td>
                    <td class='left'>{{q_paper.question_text1}}</td>
                    <td>{{q_paper.bloom_level1}}</td>
                    <td>CO1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td class='left'>{{q_paper.question_text2}}</td>
                    <td>{{q_paper.bloom_leve2}}</td>
                    <td>CO1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td class='left'>Define software engineering</td>
                    <td>Remember</td>
                    <td>CO1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td class='left'>Define software engineering</td>
                    <td>Remember</td>
                    <td>CO1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td class='left'>Define software engineering</td>
                    <td>Remember</td>
                    <td>CO1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td class='left'>Define software engineering</td>
                    <td>Remember</td>
                    <td>CO1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td class='left'>Define software engineering</td>
                    <td>Remember</td>
                    <td>CO1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td class='left'>Define software engineering</td>
                    <td>Remember</td>
                    <td>CO1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td class='left'>Define software engineering</td>
                    <td>Remember</td>
                    <td>CO1</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td class='left'>Define software engineering"</td>
                    <td>Remember"</td>
                    <td>CO1"</td>
                    <td>2</td>
                </tr>

            </table>
    </fieldset> <br><br><br>
    <fieldset>
        <h3>Part-B (5*13=65)</h3>
        <table border='1' style='display:inline-block;'>
            <tr>
                <th><b>Q.NO</b></th>
                <th><b>option</b></th>
                <th><b>Question</b></th>
                <th><b>Bloom Level</b></th>
                <th><b>course<br>Outcome</b></th>
                <th><b>Max Mark</b></th>
            </tr>

            <tr>
                <td rowspan='3'>11</td>
                <td>a</td>
                <td class='left'>Organise and award the challenges of software development in detail.</td>
                <td>Evaluate</td>
                <td>CO1</td>
                <td>13</td>
            </tr>
            <tr>
                <td colspan='6' class='pad2'>OR</td>
            </tr>
            <tr>
                <td>b</td>
                <td class='left'>Organise and award the challenges of software development in detail.</td>
                <td>Evaluate</td>
                <td>CO1</td>
                <td>13</td>
            </tr>
            <tr>
                <td colspan='7'></td>
            </tr>
            <tr class='up'>
                <td rowspan='3'>12</td>
                <td>a</td>
                <td class='left'>Inference the waterfall model in detail with their advantages and disadvantage</td>
                <td>Evaluate</td>
                <td>CO1</td>
                <td>13</td>
            </tr>
            <tr>
                <td colspan='6' class='pad2'>OR</td>
            </tr>
            <tr>
                <td>b</td>
                <td class='left'>Inference the waterfall model in detail with their advantages and disadvantage</td>
                <td>Evaluate</td>
                <td>CO1</td>
                <td>13</td>
            </tr>
            </tr>echo
            <tr>
                <td colspan='7'></td>
            </tr>
            <tr class='up'>
                <td rowspan='3'>13</td>
                <td>a</td>
                <td class='left'>Explain the process involved in the non-functional requirements with its techniques.</td>
                <td>Evaluate</td>
                <td>CO1</td>
                <td>13</td>
            </tr>
            <tr>
                <td colspan='6' class='pad2'>OR</td>
            </tr>
            <tr>
                <td>b</td>
                <td class='left'>Explain the process involved in the non-functional requirements with its techniques.</td>
                <td>Evaluate</td>
                <td>CO1</td>
                <td>13</td>
            </tr>
            </tr>
            <tr>
                <td colspan='7'></td>
            </tr>
            <tr>
                <td rowspan='3'>14</td>
                <td>a</td>
                <td class='left'>What is a use-case? what are the notations used in use-cases? explain with an example.</td>
                <td>Evaluate</td>
                <td>CO1</td>
                <td>13</td>
            </tr>
            <tr>
                <td colspan='6' class='pad2'>OR</td>
            </tr>
            <tr>
                <td>b</td>
                <td class='left'>What is a use-case? what are the notations used in use-cases? explain with an example.</td>
                <td>Evaluate</td>
                <td>CO1</td>
                <td>13</td>
            </tr>
            </tr>
            <tr>
                <td colspan='7'></td>
            </tr>
            <tr>
                <td rowspan='3'>15</td>
                <td>a</td>
                <td class='left'>Analyse the domain model in detail with an example.</td>
                <td>Evaluate</td>
                <td>CO1</td>
                <td>13</td>
            </tr>
            <tr>
                <td colspan='6' class='pad2'>OR</td>
            </tr>
            <tr>
                <td>b</td>
                <td class='left'>Analyse the domain model in detail with an example.</td>
                <td>Evaluate</td>
                <td>CO1</td>
                <td>13</td>
            </tr>



        </table>
        <br><br>
        <h3>Part-C (1*15=15)</h3>
        <table border='1'>
            <tr>
                <th><b>Q.NO</b></th>
                <th><b>option</b></th>
                <th><b>Question</b></th>
                <th><b>Bloom Level</b></th>
                <th><b>course<br>Outcome</b></th>
                <th><b>Max Mark</b></th>
            </tr>

            <tr>
                <td rowspan='3'>16</td>
                <td>a</td>
                <td class='left'>Design the use case diagram, class diagram and activity diagram for the following specification: coffee vending machine</td>
                <td>Evaluate</td>
                <td>CO1</td>
                <td>15</td>
            </tr>
            <tr>
                <td colspan='6' class='pad2'>OR</td>
            </tr>
            <tr>
                <td>b</td>
                <td class='left'>Design the use case diagram, class diagram and activity diagram for the following specification: coffee vending machine</td>
                <td>Evaluate</td>
                <td>CO1</td>
                <td>15</td>
            </tr>


        </table>
    </fieldset>
    